{% extends 'layouts/main.html' %}
{% block title %}New Doctor{% endblock %}
{% block content %}
<div class="page-header">
  <h3><a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-left"></i></a>&nbsp; Doctors List</h3>
</div>
<div class="row">
  <div class="col-sm-6">
    <ul id="doctors" class="items">
      {% for doctor in doctors %}
      <li>
        <a href="/doctors/{{ doctor.id }}"><i class="fas fa-users"></i>
          <div class="item">
            <h5>ID : {{ doctor.id }} &nbsp; Name : {{ doctor.name }}  </h5>
          </div></a>
      </li>
    {% endfor %}
    </ul>
  </div>  
  <div class="col-sm-6 hidden-sm hidden-xs">
    <img id="front-splash" src="{{ url_for('static',filename='img/doctor.png') }}" alt="Front Photo of Musical Band" />
  </div>
</div>
{% endblock %}
